.portlet-layout {
	.home-phone-new-portlet{
		#divPasos{
			width: 100%;
			min-height: 530px;
			position: relative;
			@include media-query(large) {
				text-align: center;
			}
			#breadcrumb_productos, #breadcrumb_planesVoz, #breadcrumb_planesInternet, #breadcrumb_planesTv, #breadcrumb_planesTvHd, #breadcrumb_planesTvDecos{
				display: none!important;
			}
			h4{
				&.subTitProductos {
					color: $blue;
					font-family:  $font-title;
					@include font-rem(20);
					letter-spacing: -1px;
					line-height: 30px;
					margin-bottom: 60px;
				}
			}
			#planesTvDecos{
				overflow: auto;
				select{
					background: url(../img/arrow_down.png) no-repeat $white;
					background-position: 95% 50%;
					border-radius: 5px;
					font-family: $font-book;
					height: 40px;
					@include font-rem(17);
					margin-bottom: 30px;
					width: 100%;
					-webkit-appearance: none;
					-moz-appearance: none;
					max-width: 369px;
				}
			}

			.span6{
				display: inline-block;
				vertical-align: top;
				width: 50%;
				max-width: 170px;
				float: none;
				.cajaProducto, .cajaProducto_movVideo, .cajaPlanesVoz, .cajaPlanesInternet, .cajaPlanesTv, .cajaPlanesTvHd {
					background: $white;
					border: 1px solid $border-grey;
					border-radius: 5px;
					width: 100%;
					min-height: 100px;
					padding: 5px;
					overflow: auto;
					@include media-query(large) {
						min-height: 120px!important;
					}
					input[type="radio"], input[type="checkbox"]{
						visibility: hidden;
						position: absolute;
					}

					&.darkBox{
						background: $light-blue;
						border: 1px solid $blue;
					}
					> div{
						font-family: $font-book;
						font-weight: lighter;
						@include font-rem(12);
						text-align: center;
						&:not([class]) {
							float: left;
							margin-right: 10px;
						}
					}
					.homephoneFija, .homephoneInternet, .homephoneTv {
						margin-bottom: 5px;
						&:before{
							content: "\e618";
							display: inline-block;
							color: $darkblue;
							font-family: "icomoon-2016";
							width: 21px;
							height: 21px;
							margin-right: 5px;
						}
					}
					.homephoneInternet{
						&:before{
							content: "\e616";
						}
					}
					.homephoneTv{
						&:before{
							content: "\e619";
						}
					}
				}
				.cajaProducto_movVideo{
					label{
						line-height: 100px;
						text-align: center;
						&:before{
							content: "\e632";
							display: inline-block;
							color: $darkblue;
							font-family: "icomoon-2016";
							width: 21px;
							height: 21px;
							margin-right: 5px;
						}
					}
				}
			}
			.icon-chevron-left, .icon-chevron-right{
				display: none!important;
			}
			.buttonCustom{
				width: 100%;
				position: absolute;
				bottom: -25px;
				@include media-query(large) {
					bottom: auto;
					top: 50%;
				}
			}
			#botonSiguiente{
				background: url(../img/left_arrow.png) no-repeat;
				background-position: 100% 100%;
				color: $darkblue;
				font-family: $font-book;
				font-weight: lighter;
				@include font-rem(13);
				height: 25px;
				padding: 0 20px 0 0;
				-webkit-appearance: none;
				-moz-appearance:    none;
				appearance:         none;
				-webkit-box-shadow: none;
				box-shadow: none;
				left: 0;
			}
			#botonAtras{
				background: url(../img/right_arrow.png) no-repeat;
				background-position: 0% 100%;
				color: $darkblue;
				font-family: $font-book;
				font-weight: lighter;
				@include font-rem(13);
				height: 25px;
				padding: 0 0 0 20px;
				-webkit-appearance: none;
				-moz-appearance:    none;
				appearance:         none;
				-webkit-box-shadow: none;
				box-shadow: none;
				float: left;
				right: 0;
			}
			#productos, #planesVoz, #planesInternet, #planesTv, #planesTvHd, #planTVDeco{
				max-width: 610px;
				margin: 0 auto;
				@include media-query(large) {
					margin-top: 100px;
					min-height: 530px;
				}

				span{
					margin-bottom: 10px;
					@include font-rem(13);
				}
				p{
					@include font-rem(10);
				}
				.span6{
					@include media-query(large) {
						margin: 15px;
					}
					.cajaProducto{
						@include media-query(small-only) {
							min-height: 150px;
						}
					}
				}
				.cajaPlanesVoz{
					span{
						&:before{
							content: "\e618";
							display: block;
							color: $darkblue;
							font-family: "icomoon-2016";
							@include font-rem(15);
							width: 21px;
							height: 21px;
							margin: 10px auto

						}
					}
				}

					.cajaPlanesInternet{
					span{
						&:before{
							content: "\e616";
							display: block;
							color: $darkblue;
							font-family: "icomoon-2016";
							@include font-rem(15);
							width: 21px;
							height: 21px;
							margin: 10px auto

						}
					}
				}

				.cajaPlanesTv, .cajaPlanesTvHd{
					span{
						&:before{
							content: "\e619";
							display: block;
							color: $darkblue;
							font-family: "icomoon-2016";
							@include font-rem(15);
							width: 21px;
							height: 21px;
							margin: 10px auto

						}
					}
				}
			}
		}
	}

}