.miga{
	width: 100%;
	    width: 114%;
    position: absolute;
    left: -25px;

	@include media-query(small-only) {
		display: none;
	}
	ul{
		text-align: center;
		margin: 0;
		padding: 0;
		overflow: hidden;


		li{
			background: $light-blue2;
			color: $white;
			display: block;
			@include font-rem(17);
			float: left;
			width: 15.3%;
			padding: 8px;

			&.active {
				background: $active-miga;
			}

		}
	}
}

.containerProgreso{
	border: 1px solid $darkblue;
	padding:20px;
	 ul{
	 	text-align: left;
	 	li{
	 		display: block;
	 		@include media-query(large) {
	 			display: inline-block
	 		}
	 	}
	 }
}