
@font-face {
  font-family: 'TelefonicaWeb-Regular';
  src: url("fonts/TelefonicaWeb-Regular.eot");
  src: url("fonts/TelefonicaWeb-Regular.eot?#iefix") format("eGBedded-opentype"), url("fonts/TelefonicaWeb-Regular.woff") format("woff"), url("fonts/TelefonicaWeb-Regular.ttf") format("truetype"), url("fonts/TelefonicaWeb-Regular.svg#TelefonicaWeb-Regular") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'TelefonicaWeb-Thin';
  src: url("fonts/TelefonicaWeb-Thin.eot");
  src: url("fonts/TelefonicaWeb-Thin.eot?#iefix") format("eGBedded-opentype"), url("fonts/TelefonicaWeb-Thin.woff") format("woff"), url("fonts/TelefonicaWeb-Thin.ttf") format("truetype"), url("fonts/TelefonicaWeb-Thin.svg#TelefonicaWeb-Thin") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'TelefonicaWeb-Light';
  src: url("fonts/TelefonicaWeb-Light.eot");
  src: url("fonts/TelefonicaWeb-Light.eot?#iefix") format("eGBedded-opentype"), url("fonts/TelefonicaWeb-Light.woff") format("woff"), url("fonts/TelefonicaWeb-Light.ttf") format("truetype"), url("fonts/TelefonicaWeb-Light.svg#TelefonicaWeb-Light") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'TelefonicaWeb-Bold';
  src: url("fonts/TelefonicaWeb-Bold.eot");
  src: url("fonts/TelefonicaWeb-Bold.eot?#iefix") format("eGBedded-opentype"), url("fonts/TelefonicaWeb-Bold.woff") format("woff"), url("fonts/TelefonicaWeb-Bold.ttf") format("truetype"), url("fonts/TelefonicaWeb-Bold.svg#TelefonicaWeb-Bold") format("svg");
  font-weight: normal;
  font-style: normal; }
 @font-face {
  font-family: 'icomoon-2016';
  src:  url('fonts/icomoon-2016.eot?w6unzy');
  src:  url('fonts/icomoon-2016.eot?w6unzy#iefix') format('embedded-opentype'),
    url('fonts/icomoon-2016.ttf?w6unzy') format('truetype'),
    url('fonts/icomoon-2016.woff?w6unzy') format('woff'),
    url('fonts/icomoon-2016.svg?w6unzy#icomoon-2016') format('svg');
  font-weight: normal;
  font-style: normal;
}
