@charset "UTF-8";
/* ==========================================================================
   Normalize.scss settings
   ========================================================================== */
/**
 * Includes legacy browser support IE6/7
 *
 * Set to false if you want to drop support for IE6 and IE7
 */
/* Base
   ========================================================================== */
/**
 * 1. Set default font family to sans-serif.
 * 2. Prevent iOS and IE text size adjust after device orientation change,
 *    without disabling user zoom.
 * 3. Corrects text resizing oddly in IE 6/7 when body `font-size` is set using
 *  `em` units.
 */
/* line 23, ../scss/base/_normalize.scss */
html {
  font-family: sans-serif;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

/**
 * Remove default margin.
 */
/* line 36, ../scss/base/_normalize.scss */
body {
  margin: 0;
}

/* HTML5 display definitions
   ========================================================================== */
/**
 * Correct `block` display not defined for any HTML5 element in IE 8/9.
 * Correct `block` display not defined for `details` or `summary` in IE 10/11
 * and Firefox.
 * Correct `block` display not defined for `main` in IE 11.
 */
/* line 50, ../scss/base/_normalize.scss */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block;
}

/**
 * 1. Correct `inline-block` display not defined in IE 6/7/8/9 and Firefox 3.
 * 2. Normalize vertical alignment of `progress` in Chrome, Firefox, and Opera.
 */
/* line 71, ../scss/base/_normalize.scss */
audio,
canvas,
progress,
video {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */
}

/**
 * Prevents modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */
/* line 88, ../scss/base/_normalize.scss */
audio:not([controls]) {
  display: none;
  height: 0;
}

/**
 * Address `[hidden]` styling not present in IE 8/9/10.
 * Hide the `template` element in IE 8/9/10/11, Safari, and Firefox < 22.
 */
/* line 98, ../scss/base/_normalize.scss */
[hidden],
template {
  display: none;
}

/* Links
   ========================================================================== */
/**
 * Remove the gray background color from active links in IE 10.
 */
/* line 110, ../scss/base/_normalize.scss */
a {
  background-color: transparent;
}

/**
 * Improve readability of focused elements when they are also in an
 * active/hover state.
 */
/* line 120, ../scss/base/_normalize.scss */
a:active, a:hover {
  outline: 0;
}

/* Text-level semantics
   ========================================================================== */
/**
 * Address styling not present in IE 8/9/10/11, Safari, and Chrome.
 */
/* line 132, ../scss/base/_normalize.scss */
abbr[title] {
  border-bottom: 1px dotted;
}

/**
 * Address style set to `bolder` in Firefox 4+, Safari, and Chrome.
 */
/* line 140, ../scss/base/_normalize.scss */
b,
strong {
  font-weight: bold;
}

/**
 * Address styling not present in Safari and Chrome.
 */
/* line 155, ../scss/base/_normalize.scss */
dfn {
  font-style: italic;
}

/**
 * Address variable `h1` font-size and margin within `section` and `article`
 * contexts in Firefox 4+, Safari, and Chrome.
 */
/* line 164, ../scss/base/_normalize.scss */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/**
 * Addresses styling not present in IE 8/9.
 */
/* line 200, ../scss/base/_normalize.scss */
mark {
  background: #ff0;
  color: #000;
}

/**
 * Address inconsistent and variable font size in all browsers.
 */
/* line 239, ../scss/base/_normalize.scss */
small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` affecting `line-height` in all browsers.
 */
/* line 247, ../scss/base/_normalize.scss */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

/* line 255, ../scss/base/_normalize.scss */
sup {
  top: -0.5em;
}

/* line 259, ../scss/base/_normalize.scss */
sub {
  bottom: -0.25em;
}

/* Embedded content
   ========================================================================== */
/**
 * 1. Remove border when inside `a` element in IE 8/9/10.
 * 2. Improves image quality when scaled in IE 7.
 */
/* line 314, ../scss/base/_normalize.scss */
img {
  border: 0;
}

/**
 * Correct overflow not hidden in IE 9/10/11.
 */
/* line 325, ../scss/base/_normalize.scss */
svg:not(:root) {
  overflow: hidden;
}

/* Grouping content
   ========================================================================== */
/**
 * Address margin not present in IE 8/9 and Safari.
 */
/* line 336, ../scss/base/_normalize.scss */
figure {
  margin: 1em 40px;
}

/**
 * Address differences between Firefox and other browsers.
 */
/* line 344, ../scss/base/_normalize.scss */
hr {
  box-sizing: content-box;
  height: 0;
}

/**
 * Contain overflow in all browsers.
 */
/* line 353, ../scss/base/_normalize.scss */
pre {
  overflow: auto;
}

/**
 * Address odd `em`-unit font size rendering in all browsers.
 * Correct font family set oddly in IE 6, Safari 4/5, and Chrome.
 */
/* line 362, ../scss/base/_normalize.scss */
code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

/* Forms
   ========================================================================== */
/**
 * Known limitation: by default, Chrome and Safari on OS X allow very limited
 * styling of `select`, unless a `border` property is set.
 */
/**
 * 1. Correct color not being inherited.
 *  Known issue: affects color of disabled elements.
 * 2. Correct font properties not being inherited.
 * 3. Address margins set differently in Firefox 4+, Safari, and Chrome.
 * 4. Improves appearance and consistency in all browsers.
 */
/* line 389, ../scss/base/_normalize.scss */
button,
input,
optgroup,
select,
textarea {
  color: inherit;
  /* 1 */
  font: inherit;
  /* 2 */
  margin: 0;
  /* 3 */
}

/**
 * Address `overflow` set to `hidden` in IE 8/9/10/11.
 */
/* line 407, ../scss/base/_normalize.scss */
button {
  overflow: visible;
}

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Firefox, IE 8/9/10/11, and Opera.
 * Correct `select` style inheritance in Firefox.
 */
/* line 418, ../scss/base/_normalize.scss */
button,
select {
  text-transform: none;
}

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *  and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *  `input` and others.
 * 4. Removes inner spacing in IE 7 without affecting normal text inputs.
 *  Known issue: inner spacing remains in IE 6.
 */
/* line 433, ../scss/base/_normalize.scss */
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */
}

/**
 * Re-set default cursor for disabled elements.
 */
/* line 448, ../scss/base/_normalize.scss */
button[disabled],
html input[disabled] {
  cursor: default;
}

/**
 * Remove inner padding and border in Firefox 4+.
 */
/* line 457, ../scss/base/_normalize.scss */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/**
 * Address Firefox 4+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */
/* line 468, ../scss/base/_normalize.scss */
input {
  line-height: normal;
}

/**
 * 1. Address box sizing set to `content-box` in IE 8/9/10.
 * 2. Remove excess padding in IE 8/9/10.
 *  Known issue: excess padding remains in IE 6.
 */
/* line 478, ../scss/base/_normalize.scss */
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
 * Fix the cursor style for Chrome's increment/decrement buttons. For certain
 * `font-size` values of the `input`, it causes the cursor style of the
 * decrement button to change from `default` to `text`.
 */
/* line 494, ../scss/base/_normalize.scss */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Address `appearance` set to `searchfield` in Safari and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari and Chrome.
 */
/* line 504, ../scss/base/_normalize.scss */
input[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  box-sizing: content-box;
  /* 2 */
}

/**
 * Remove inner padding and search cancel button in Safari and Chrome on OS X.
 * Safari (but not Chrome) clips the cancel button when the search input has
 * padding (and `textfield` appearance).
 */
/* line 515, ../scss/base/_normalize.scss */
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * Define consistent border, margin, and padding.
 */
/* line 524, ../scss/base/_normalize.scss */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

/**
 * 1. Correct `color` not being inherited in IE 8/9/10/11.
 * 2. Remove padding so people aren't caught out if they zero out fieldsets.
 * 3. Corrects text not wrapping in Firefox 3.
 * 4. Corrects alignment displayed oddly in IE 6/7.
 */
/* line 537, ../scss/base/_normalize.scss */
legend {
  border: 0;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
 * Remove default vertical scrollbar in IE 8/9/10/11.
 */
/* line 550, ../scss/base/_normalize.scss */
textarea {
  overflow: auto;
}

/**
 * Don't inherit the `font-weight` (applied by a rule above).
 * NOTE: the default cannot safely be changed in Chrome and Safari on OS X.
 */
/* line 559, ../scss/base/_normalize.scss */
optgroup {
  font-weight: bold;
}

/* Tables
   ========================================================================== */
/**
 * Remove most spacing between table cells.
 */
/* line 570, ../scss/base/_normalize.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 575, ../scss/base/_normalize.scss */
td,
th {
  padding: 0;
}

/*------------------------------------*\
    #RESET
\*------------------------------------*/
/* line 7, ../scss/base/_reset.scss */
body,
h1, h2, h3, h4, h5, h6,
p, blockquote, pre,
dl, dd, ol, ul,
form, fieldset, legend,
figure,
table, th, td, caption,
hr {
  margin: 0;
  padding: 0;
}

/* line 20, ../scss/base/_reset.scss */
abbr[title],
dfn[title] {
  cursor: help;
}

/* line 26, ../scss/base/_reset.scss */
[role="button"],
label {
  cursor: pointer;
}

/* line 32, ../scss/base/_reset.scss */
u,
ins {
  text-decoration: none;
}

/* line 38, ../scss/base/_reset.scss */
ins {
  border-bottom: 1px solid;
}

/*! normalize.css v4.1.1 | MIT License | github.com/necolas/normalize.css */
/* line 46, ../scss/base/_reset.scss */
html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

/* line 53, ../scss/base/_reset.scss */
body {
  margin: 0;
}

/* line 57, ../scss/base/_reset.scss */
html,
body,
button {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
}

/*------------------------------------*\
    #GENERIC
\*------------------------------------*/
/* line 4, ../scss/base/_generic.scss */
*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 14, ../scss/base/_generic.scss */
body {
  color: #515559;
  font-family: "TelefonicaWeb-Regular", Arial, Helvetica, Geneva, sans-serif;
  font-size: 13;
  font-weight: 300;
}

/* line 26, ../scss/base/_generic.scss */
img {
  max-width: 100%;
  /* [1] */
  font-style: italic;
  /* [2] */
  vertical-align: middle;
  /* [3] */
}

/* line 32, ../scss/base/_generic.scss */
iframe, object,
canvas {
  width: 100%;
  max-width: 100%;
  height: auto;
}

/* line 41, ../scss/base/_generic.scss */
h2,
h3,
h4 {
  font-family: "TelefonicaWeb-Regular", Arial, Helvetica, Geneva, sans-serif;
  font-weight: normal;
  font-size: 16px;
  font-size: 1.6rem;
}

/*------------------------------------*\
    #HEADINGS
\*------------------------------------*/
/**
 * Headings 1–6’s corresponding Greek-alphabet abstract classes for double-
 * stranded heading hierarchy: csswizardry.com/2012/02/pragmatic-practical-font-sizing-in-css
 *
 * Use these helper classes to cause other elements to adopt the styling of the
 * respective heading, e.g.:
 *
   <h2 class="alpha">Lorem ipsum</h2>
 *
 */
/* line 64, ../scss/base/_generic.scss */
.Movistar_headlineregular, Arial, Helvetica, Geneva, sans-serifalpha, Arial, Helvetica, Geneva, sans-serifalpha {
  font-size: 32px;
  font-size: 3.2rem;
}

/* line 69, ../scss/base/_generic.scss */
.Movistar_headlineregular, Arial, Helvetica, Geneva, sans-serifbeta, Arial, Helvetica, Geneva, sans-serifbeta {
  font-size: 28px;
  font-size: 2.8rem;
}

/* line 74, ../scss/base/_generic.scss */
.Movistar_headlineregular, Arial, Helvetica, Geneva, sans-serifgamma, Arial, Helvetica, Geneva, sans-serifgamma {
  font-size: 24px;
  font-size: 2.4rem;
}

/* line 79, ../scss/base/_generic.scss */
.Movistar_headlineregular, Arial, Helvetica, Geneva, sans-serifdelta, Arial, Helvetica, Geneva, sans-serifdelta {
  font-size: 22px;
  font-size: 2.2rem;
}

/* line 84, ../scss/base/_generic.scss */
.Movistar_headlineregular, Arial, Helvetica, Geneva, sans-serifepsilon, Arial, Helvetica, Geneva, sans-serifepsilon {
  font-size: 20px;
  font-size: 2rem;
}

/* line 89, ../scss/base/_generic.scss */
.Movistar_headlineregular, Arial, Helvetica, Geneva, sans-serifzeta, Arial, Helvetica, Geneva, sans-serifzeta {
  font-size: 18px;
  font-size: 1.8rem;
}

/* line 94, ../scss/base/_generic.scss */
a {
  text-decoration: none;
}
/* line 96, ../scss/base/_generic.scss */
a:hover, a:focus, a:visited {
  text-decoration: none;
}

@font-face {
  font-family: 'TelefonicaWeb-Regular';
  src: url("fonts/TelefonicaWeb-Regular.eot");
  src: url("fonts/TelefonicaWeb-Regular.eot?#iefix") format("eGBedded-opentype"), url("fonts/TelefonicaWeb-Regular.woff") format("woff"), url("fonts/TelefonicaWeb-Regular.ttf") format("truetype"), url("fonts/TelefonicaWeb-Regular.svg#TelefonicaWeb-Regular") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'TelefonicaWeb-Thin';
  src: url("fonts/TelefonicaWeb-Thin.eot");
  src: url("fonts/TelefonicaWeb-Thin.eot?#iefix") format("eGBedded-opentype"), url("fonts/TelefonicaWeb-Thin.woff") format("woff"), url("fonts/TelefonicaWeb-Thin.ttf") format("truetype"), url("fonts/TelefonicaWeb-Thin.svg#TelefonicaWeb-Thin") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'TelefonicaWeb-Light';
  src: url("fonts/TelefonicaWeb-Light.eot");
  src: url("fonts/TelefonicaWeb-Light.eot?#iefix") format("eGBedded-opentype"), url("fonts/TelefonicaWeb-Light.woff") format("woff"), url("fonts/TelefonicaWeb-Light.ttf") format("truetype"), url("fonts/TelefonicaWeb-Light.svg#TelefonicaWeb-Light") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'TelefonicaWeb-Bold';
  src: url("fonts/TelefonicaWeb-Bold.eot");
  src: url("fonts/TelefonicaWeb-Bold.eot?#iefix") format("eGBedded-opentype"), url("fonts/TelefonicaWeb-Bold.woff") format("woff"), url("fonts/TelefonicaWeb-Bold.ttf") format("truetype"), url("fonts/TelefonicaWeb-Bold.svg#TelefonicaWeb-Bold") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'icomoon-2016';
  src: url("fonts/icomoon-2016.eot?w6unzy");
  src: url("fonts/icomoon-2016.eot?w6unzy#iefix") format("embedded-opentype"), url("fonts/icomoon-2016.ttf?w6unzy") format("truetype"), url("fonts/icomoon-2016.woff?w6unzy") format("woff"), url("fonts/icomoon-2016.svg?w6unzy#icomoon-2016") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'icomoon';
  src: url("fonts/icomoon.eot?mljr4u");
  src: url("fonts/icomoon.eot?mljr4u#iefix") format("embedded-opentype"), url("fonts/icomoon.ttf?mljr4u") format("truetype"), url("fonts/icomoon.woff?mljr4u") format("woff"), url("fonts/icomoon.svg?mljr4u#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
}
/* line 13, ../scss/base/_fonts-ico.scss */
[class^="ico-"]:before, [class*=" ico-"]:before {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* line 30, ../scss/base/_fonts-ico.scss */
[class^="ico-after-"]:after, [class*=" ico-after-"]:after {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* line 46, ../scss/base/_fonts-ico.scss */
.ico-download-line:before {
  content: "\e924";
}

/* line 49, ../scss/base/_fonts-ico.scss */
.ico-add:before {
  content: "\e800";
}

/* line 52, ../scss/base/_fonts-ico.scss */
.ico-print:before {
  content: "\e801";
}

/* line 55, ../scss/base/_fonts-ico.scss */
.ico-diagonal-line:before {
  content: "\e802";
}

/* line 58, ../scss/base/_fonts-ico.scss */
.ico-warning-triangle:before {
  content: "\e803";
}

/* line 61, ../scss/base/_fonts-ico.scss */
.ico-arrow-circle-left:before {
  content: "\e63a";
}

/* line 64, ../scss/base/_fonts-ico.scss */
.ico-tag:before {
  content: "\e63d";
}

/* line 67, ../scss/base/_fonts-ico.scss */
.ico-human:before {
  content: "\e63c";
}

/* line 70, ../scss/base/_fonts-ico.scss */
.ico-arrow_up2:before {
  content: "\e63b";
}

/* line 73, ../scss/base/_fonts-ico.scss */
.ico-btn_subtract:before {
  content: "\e638";
}

/* line 76, ../scss/base/_fonts-ico.scss */
.ico-question_round:before {
  content: "\e637";
}

/* line 79, ../scss/base/_fonts-ico.scss */
.ico-compartir:before {
  content: "\e636";
}

/* line 82, ../scss/base/_fonts-ico.scss */
.ico-carrito:before {
  content: "\e633";
}

/* line 85, ../scss/base/_fonts-ico.scss */
.ico-invoice:before {
  content: "\e634";
}

/* line 88, ../scss/base/_fonts-ico.scss */
.ico-pc:before {
  content: "\e635";
}

/* line 91, ../scss/base/_fonts-ico.scss */
.ico-play_left:before {
  content: "\e631";
}

/* line 94, ../scss/base/_fonts-ico.scss */
.ico-play_right:before {
  content: "\e632";
}

/* line 97, ../scss/base/_fonts-ico.scss */
.ico-ppl:before {
  content: "\e62f";
}

/* line 100, ../scss/base/_fonts-ico.scss */
.ico-house:before {
  content: "\e630";
}

/* line 103, ../scss/base/_fonts-ico.scss */
.ico-large_arrow_left:before {
  content: "\e62e";
}

/* line 106, ../scss/base/_fonts-ico.scss */
.ico-arrow_left:before {
  content: "\e62d";
}

/* line 109, ../scss/base/_fonts-ico.scss */
.ico-thin_down_arrow:before {
  content: "\e62c";
}

/* line 112, ../scss/base/_fonts-ico.scss */
.ico-arrow_up:before {
  content: "\e62b";
}

/* line 115, ../scss/base/_fonts-ico.scss */
.ico-arrow_down:before {
  content: "\e629";
}

/* line 118, ../scss/base/_fonts-ico.scss */
.ico-three_lines:before {
  content: "\e62a";
}

/* line 121, ../scss/base/_fonts-ico.scss */
.ico-cross:before {
  content: "\e628";
}

/* line 124, ../scss/base/_fonts-ico.scss */
.ico-copa:before {
  content: "\e627";
}

/* line 127, ../scss/base/_fonts-ico.scss */
.ico-lupa:before {
  content: "\e626";
}

/* line 130, ../scss/base/_fonts-ico.scss */
.ico-arrow_right:before {
  content: "\e60e";
}

/* line 133, ../scss/base/_fonts-ico.scss */
.ico-facturacion:before {
  content: "\e622";
}

/* line 136, ../scss/base/_fonts-ico.scss */
.ico-otros:before {
  content: "\e623";
}

/* line 139, ../scss/base/_fonts-ico.scss */
.ico-servicios_digitales:before {
  content: "\e624";
}

/* line 142, ../scss/base/_fonts-ico.scss */
.ico-telefonia:before {
  content: "\e625";
}

/* line 145, ../scss/base/_fonts-ico.scss */
.ico-candado:before {
  content: "\e621";
}

/* line 148, ../scss/base/_fonts-ico.scss */
.ico-rueda_open:before {
  content: "\e620";
}

/* line 151, ../scss/base/_fonts-ico.scss */
.ico-info-alert:before {
  content: "\e61f";
}

/* line 154, ../scss/base/_fonts-ico.scss */
.ico-thin_left_arrow:before {
  content: "\e61e";
}

/* line 157, ../scss/base/_fonts-ico.scss */
.ico-thin_right_arrow:before {
  content: "\e61d";
}

/* line 160, ../scss/base/_fonts-ico.scss */
.ico-btn_ticket:before {
  content: "\e61c";
}

/* line 163, ../scss/base/_fonts-ico.scss */
.ico-btn-arrow_left:before {
  content: "\e61a";
}

/* line 166, ../scss/base/_fonts-ico.scss */
.ico-btn_plus:before {
  content: "\e61b";
}

/* line 169, ../scss/base/_fonts-ico.scss */
.ico-f-internet:before {
  content: "\e617";
}

/* line 172, ../scss/base/_fonts-ico.scss */
.ico-f-telefonia:before {
  content: "\e618";
}

/* line 175, ../scss/base/_fonts-ico.scss */
.ico-f-television:before {
  content: "\e619";
}

/* line 178, ../scss/base/_fonts-ico.scss */
.ico-internet-circle:before {
  content: "\e616";
}

/* line 181, ../scss/base/_fonts-ico.scss */
.ico-ok-tic:before {
  content: "\e601";
}

/* line 184, ../scss/base/_fonts-ico.scss */
.ico-bg_ico_service:before {
  content: "\e600";
}

/* line 187, ../scss/base/_fonts-ico.scss */
.ico-feature-android:before {
  content: "\e602";
}

/* line 190, ../scss/base/_fonts-ico.scss */
.ico-feature-windows:before {
  content: "\e603";
}

/* line 193, ../scss/base/_fonts-ico.scss */
.ico-feature-apple:before {
  content: "\e604";
}

/* line 196, ../scss/base/_fonts-ico.scss */
.ico-feature-processor:before {
  content: "\e605";
}

/* line 199, ../scss/base/_fonts-ico.scss */
.ico-feature-screen:before {
  content: "\e606";
}

/* line 202, ../scss/base/_fonts-ico.scss */
.ico-feature-sim:before {
  content: "\e607";
}

/* line 205, ../scss/base/_fonts-ico.scss */
.ico-feature-storage:before {
  content: "\e608";
}

/* line 208, ../scss/base/_fonts-ico.scss */
.ico-feature-camera:before {
  content: "\e609";
}

/* line 211, ../scss/base/_fonts-ico.scss */
.ico-big_white_arrow_right:before {
  content: "\e60a";
}

/* line 214, ../scss/base/_fonts-ico.scss */
.ico-bg-service:before {
  content: "\e60b";
}

/* line 217, ../scss/base/_fonts-ico.scss */
.ico-wifi:before {
  content: "\e60c";
}

/* line 220, ../scss/base/_fonts-ico.scss */
.ico-error-input:before {
  content: "\e60d";
}

/* line 223, ../scss/base/_fonts-ico.scss */
.ico-btn-arrow_right:before {
  content: "\e60f";
}

/* line 226, ../scss/base/_fonts-ico.scss */
.ico-after-arrow_right:after {
  content: "\e60f";
}

/* line 229, ../scss/base/_fonts-ico.scss */
.ico-btn-double-arrow-left:before {
  content: "\e639";
}

/* line 232, ../scss/base/_fonts-ico.scss */
.ico-btn-double-arrow-right:before {
  content: "\e610";
}

/* line 235, ../scss/base/_fonts-ico.scss */
.ico-estado-disponible:before {
  content: "\e611";
}

/* line 238, ../scss/base/_fonts-ico.scss */
.ico-estado-no-disponible:before {
  content: "\e612";
}

/* line 241, ../scss/base/_fonts-ico.scss */
.ico-internet:before {
  content: "\e613";
}

/* line 244, ../scss/base/_fonts-ico.scss */
.ico-internet-tablet:before {
  content: "\e614";
}

/* line 247, ../scss/base/_fonts-ico.scss */
.ico-movil:before {
  content: "\e615";
}

/* line 250, ../scss/base/_fonts-ico.scss */
.ico-location-line:before {
  content: "\e804";
}

/* line 253, ../scss/base/_fonts-ico.scss */
.ico-chat:before {
  content: "\e805";
}

/* line 256, ../scss/base/_fonts-ico.scss */
.ico-travel-agency:before {
  content: "\e806";
}

/* line 259, ../scss/base/_fonts-ico.scss */
.ico-like:before {
  content: "\e807";
}

/* line 262, ../scss/base/_fonts-ico.scss */
.ico-phone-fixed:before {
  content: "\e808";
}

/* line 265, ../scss/base/_fonts-ico.scss */
.ico-edit:before {
  content: "\e809";
}

/* line 268, ../scss/base/_fonts-ico.scss */
.ico-calendar:before {
  content: "\e900";
}

/* line 271, ../scss/base/_fonts-ico.scss */
.ico-calling:before {
  content: "\e901";
}

/* line 274, ../scss/base/_fonts-ico.scss */
.ico-gift:before {
  content: "\e902";
}

/* line 277, ../scss/base/_fonts-ico.scss */
.ico-search-doc:before {
  content: "\e903";
}

/* line 280, ../scss/base/_fonts-ico.scss */
.ico-headset:before {
  content: "\e904";
}

/* line 283, ../scss/base/_fonts-ico.scss */
.ico-arrow-updown:before {
  content: "\e908";
}

/* line 286, ../scss/base/_fonts-ico.scss */
.ico-mobile-check:before {
  content: "\e909";
}

/* line 289, ../scss/base/_fonts-ico.scss */
.ico-mobile-locked:before {
  content: "\e90a";
}

/* line 292, ../scss/base/_fonts-ico.scss */
.ico-download:before {
  content: "\e905";
}

/* line 295, ../scss/base/_fonts-ico.scss */
.ico-mobile-contract:before {
  content: "\e906";
}

/* line 298, ../scss/base/_fonts-ico.scss */
.ico-new:before {
  content: "\e907";
}

/* line 301, ../scss/base/_fonts-ico.scss */
.ico-truck:before {
  content: "\e90b";
}

/* line 304, ../scss/base/_fonts-ico.scss */
.ico-truck-lines:before {
  content: "\e90c";
}

/* line 307, ../scss/base/_fonts-ico.scss */
.ico-withdraw:before {
  content: "\e90d";
}

/* line 310, ../scss/base/_fonts-ico.scss */
.ico-favorites:before {
  content: "\e90e";
}

/* line 313, ../scss/base/_fonts-ico.scss */
.ico-warning-triangle-down:before {
  content: "\e920";
}

/* line 316, ../scss/base/_fonts-ico.scss */
.ico-alert:before {
  content: "\e910";
}

/* line 319, ../scss/base/_fonts-ico.scss */
.ico-error-input-thin:before {
  content: "\e914";
}

/* line 322, ../scss/base/_fonts-ico.scss */
.ico-tic:before {
  content: "\e919";
}

/* line 325, ../scss/base/_fonts-ico.scss */
.ico-location-line-gap:before {
  content: "\e918";
}

/* line 328, ../scss/base/_fonts-ico.scss */
.ico-mobile-error:before {
  content: "\e921";
}

/* line 331, ../scss/base/_fonts-ico.scss */
.ico-mobile-repair:before {
  content: "\e91f";
}

/* line 334, ../scss/base/_fonts-ico.scss */
.ico-mobile-problems:before {
  content: "\e917";
}

/* line 337, ../scss/base/_fonts-ico.scss */
.ico-traffic:before {
  content: "\e91d";
}

/* line 340, ../scss/base/_fonts-ico.scss */
.ico-single-document:before {
  content: "\e923";
}

/* line 343, ../scss/base/_fonts-ico.scss */
.ico-budget:before {
  content: "\e91c";
}

/* line 346, ../scss/base/_fonts-ico.scss */
.ico-work-orders:before {
  content: "\e91a";
}

/* line 349, ../scss/base/_fonts-ico.scss */
.ico-read-more:before {
  content: "\e90f";
}

/* line 352, ../scss/base/_fonts-ico.scss */
.ico-diagnostic:before {
  content: "\e913";
}

/* line 355, ../scss/base/_fonts-ico.scss */
.ico-order-number:before {
  content: "\e91e";
}

/* line 358, ../scss/base/_fonts-ico.scss */
.ico-technical-support:before {
  content: "\e912";
}

/* line 361, ../scss/base/_fonts-ico.scss */
.ico-actions:before {
  content: "\e91b";
}

/* line 364, ../scss/base/_fonts-ico.scss */
.ico-gear:before {
  content: "\e915";
}

/* line 367, ../scss/base/_fonts-ico.scss */
.ico-magnifier-border:before {
  content: "\e911";
}

/* line 370, ../scss/base/_fonts-ico.scss */
.ico-happy-face:before {
  content: "\e916";
}

/* line 373, ../scss/base/_fonts-ico.scss */
.ico-tool-border:before {
  content: "\e922";
}

/* line 376, ../scss/base/_fonts-ico.scss */
.ico-shopping-cart:before {
  content: "\e925";
}

/* line 379, ../scss/base/_fonts-ico.scss */
.ico-clock:before {
  content: "\e926";
}

/* line 382, ../scss/base/_fonts-ico.scss */
.ico-unlocked:before {
  content: "\e927";
}

/* line 385, ../scss/base/_fonts-ico.scss */
.ico-sun:before {
  content: "\e928";
}

/* line 388, ../scss/base/_fonts-ico.scss */
.ico-world-wired:before {
  content: "\e929";
}

/* line 391, ../scss/base/_fonts-ico.scss */
.ico-alert-cloud:before {
  content: "\e92a";
}

/* line 394, ../scss/base/_fonts-ico.scss */
.ico-phone-cancelled:before {
  content: "\e92b";
}

/* line 397, ../scss/base/_fonts-ico.scss */
.ico-phone-waiting:before {
  content: "\e92c";
}

/* line 400, ../scss/base/_fonts-ico.scss */
.ico-coverage:before {
  content: "\e92d";
}

/* line 403, ../scss/base/_fonts-ico.scss */
.ico-minus-border:before {
  content: "\e92e";
}

/* line 406, ../scss/base/_fonts-ico.scss */
.ico-location-arrow:before {
  content: "\e92f";
}

/* line 409, ../scss/base/_fonts-ico.scss */
.ico-cine:before {
  content: "\e930";
}

/* line 412, ../scss/base/_fonts-ico.scss */
.ico-email:before {
  content: "\e931";
}

/* line 415, ../scss/base/_fonts-ico.scss */
.ico-less:before {
  content: "\e932";
}

/* line 418, ../scss/base/_fonts-ico.scss */
.ico-more:before {
  content: "\e933";
}

/* line 421, ../scss/base/_fonts-ico.scss */
.ico-music:before {
  content: "\e934";
}

/* line 424, ../scss/base/_fonts-ico.scss */
.ico-play:before {
  content: "\e935";
}

/* line 427, ../scss/base/_fonts-ico.scss */
.ico-social:before {
  content: "\e936";
}

/* line 430, ../scss/base/_fonts-ico.scss */
.ico-web:before {
  content: "\e937";
}

/* line 433, ../scss/base/_fonts-ico.scss */
.ico-house-locked:before {
  content: "\e938";
}

/* line 436, ../scss/base/_fonts-ico.scss */
.ico-arrow-top-border:before {
  content: "\e939";
}

/* line 439, ../scss/base/_fonts-ico.scss */
.ico-arrow-bottom-border:before {
  content: "\e93a";
}

/* line 442, ../scss/base/_fonts-ico.scss */
.ico-club:before {
  content: "\e93b";
}

/* line 445, ../scss/base/_fonts-ico.scss */
.ico-check-shield:before {
  content: "\e93c";
}

/* line 448, ../scss/base/_fonts-ico.scss */
.ico-locked:before {
  content: "\e93d";
}

/* line 451, ../scss/base/_fonts-ico.scss */
.ico-picture:before {
  content: "\e93e";
}

/* line 454, ../scss/base/_fonts-ico.scss */
.ico-location:before {
  content: "\e63e";
}

/* line 3, ../scss/block/_container.scss */
.portlet-layout .home-phone-new-portlet {
  background: url(../img/cotizador-bg.jpg) no-repeat top right #f0f2f5;
  border: 1px solid #dddada;
  padding: 25px;
  min-height: 530px;
  width: 100%;
  overflow: auto;
  overflow-x: hidden;
}
@media only screen and (min-width: 1280px) {
  /* line 3, ../scss/block/_container.scss */
  .portlet-layout .home-phone-new-portlet {
    background-size: cover !important;
  }
}
/* line 17, ../scss/block/_container.scss */
.portlet-layout .portlet-column {
  padding: 0 !important;
}

/* line 4, ../scss/block/_ciudades.scss */
.portlet-layout .home-phone-new-portlet #divCombos {
  width: 100%;
  max-width: 360px;
  margin: 0 auto;
  text-align: center;
  padding: 25px;
}
@media only screen and (min-width: 1280px) {
  /* line 4, ../scss/block/_ciudades.scss */
  .portlet-layout .home-phone-new-portlet #divCombos {
    margin-top: 60px !important;
  }
}
/* line 17, ../scss/block/_ciudades.scss */
.portlet-layout .home-phone-new-portlet #divCombos h3.tit {
  color: #27a4d5;
  font-family: "TelefonicaWeb-Thin", Arial, Helvetica, Geneva, sans-serif;
  font-weight: lighter;
  font-size: 20px;
  font-size: 2rem;
  letter-spacing: -1px;
  line-height: 30px;
  margin-bottom: 70px;
}
/* line 28, ../scss/block/_ciudades.scss */
.portlet-layout .home-phone-new-portlet #divCombos label {
  display: none;
}
/* line 32, ../scss/block/_ciudades.scss */
.portlet-layout .home-phone-new-portlet #divCombos select {
  background: url(../img/arrow_down.png) no-repeat #ffffff;
  background-position: 95% 50%;
  border-radius: 5px;
  font-family: "TelefonicaWeb-Regular", Arial, Helvetica, Geneva, sans-serif;
  height: 40px;
  font-size: 17px;
  font-size: 1.7rem;
  padding: 0 10px;
  margin-bottom: 30px;
  width: 100%;
  -webkit-appearance: none;
  -moz-appearance: none;
}

/* line 53, ../scss/block/_ciudades.scss */
.portlet-login {
  display: none;
}

/* line 3, ../scss/block/_planes.scss */
.portlet-layout .home-phone-new-portlet #divPasos {
  width: 100%;
  min-height: 530px;
  position: relative;
}
@media only screen and (min-width: 1280px) {
  /* line 3, ../scss/block/_planes.scss */
  .portlet-layout .home-phone-new-portlet #divPasos {
    text-align: center;
  }
}
/* line 10, ../scss/block/_planes.scss */
.portlet-layout .home-phone-new-portlet #divPasos #breadcrumb_productos, .portlet-layout .home-phone-new-portlet #divPasos #breadcrumb_planesVoz, .portlet-layout .home-phone-new-portlet #divPasos #breadcrumb_planesInternet, .portlet-layout .home-phone-new-portlet #divPasos #breadcrumb_planesTv, .portlet-layout .home-phone-new-portlet #divPasos #breadcrumb_planesTvHd, .portlet-layout .home-phone-new-portlet #divPasos #breadcrumb_planesTvDecos {
  display: none !important;
}
/* line 14, ../scss/block/_planes.scss */
.portlet-layout .home-phone-new-portlet #divPasos h4.subTitProductos {
  color: #27a4d5;
  font-family: "TelefonicaWeb-Thin", Arial, Helvetica, Geneva, sans-serif;
  font-size: 20px;
  font-size: 2rem;
  letter-spacing: -1px;
  line-height: 30px;
  margin-bottom: 60px;
}
/* line 23, ../scss/block/_planes.scss */
.portlet-layout .home-phone-new-portlet #divPasos #planesTvDecos {
  overflow: auto;
}
/* line 25, ../scss/block/_planes.scss */
.portlet-layout .home-phone-new-portlet #divPasos #planesTvDecos select {
  background: url(../img/arrow_down.png) no-repeat #ffffff;
  background-position: 95% 50%;
  border-radius: 5px;
  font-family: "TelefonicaWeb-Regular", Arial, Helvetica, Geneva, sans-serif;
  height: 40px;
  font-size: 17px;
  font-size: 1.7rem;
  margin-bottom: 30px;
  width: 100%;
  -webkit-appearance: none;
  -moz-appearance: none;
  max-width: 369px;
}
/* line 40, ../scss/block/_planes.scss */
.portlet-layout .home-phone-new-portlet #divPasos .span6 {
  display: inline-block;
  vertical-align: top;
  width: 50%;
  max-width: 170px;
  float: none;
}
/* line 46, ../scss/block/_planes.scss */
.portlet-layout .home-phone-new-portlet #divPasos .span6 .cajaProducto, .portlet-layout .home-phone-new-portlet #divPasos .span6 .cajaProducto_movVideo, .portlet-layout .home-phone-new-portlet #divPasos .span6 .cajaPlanesVoz, .portlet-layout .home-phone-new-portlet #divPasos .span6 .cajaPlanesInternet, .portlet-layout .home-phone-new-portlet #divPasos .span6 .cajaPlanesTv, .portlet-layout .home-phone-new-portlet #divPasos .span6 .cajaPlanesTvHd {
  background: #ffffff;
  border: 1px solid #dddada;
  border-radius: 5px;
  width: 100%;
  min-height: 100px;
  padding: 5px;
  overflow: auto;
}
@media only screen and (min-width: 1280px) {
  /* line 46, ../scss/block/_planes.scss */
  .portlet-layout .home-phone-new-portlet #divPasos .span6 .cajaProducto, .portlet-layout .home-phone-new-portlet #divPasos .span6 .cajaProducto_movVideo, .portlet-layout .home-phone-new-portlet #divPasos .span6 .cajaPlanesVoz, .portlet-layout .home-phone-new-portlet #divPasos .span6 .cajaPlanesInternet, .portlet-layout .home-phone-new-portlet #divPasos .span6 .cajaPlanesTv, .portlet-layout .home-phone-new-portlet #divPasos .span6 .cajaPlanesTvHd {
    min-height: 120px !important;
  }
}
/* line 57, ../scss/block/_planes.scss */
.portlet-layout .home-phone-new-portlet #divPasos .span6 .cajaProducto input[type="radio"], .portlet-layout .home-phone-new-portlet #divPasos .span6 .cajaProducto input[type="checkbox"], .portlet-layout .home-phone-new-portlet #divPasos .span6 .cajaProducto_movVideo input[type="radio"], .portlet-layout .home-phone-new-portlet #divPasos .span6 .cajaProducto_movVideo input[type="checkbox"], .portlet-layout .home-phone-new-portlet #divPasos .span6 .cajaPlanesVoz input[type="radio"], .portlet-layout .home-phone-new-portlet #divPasos .span6 .cajaPlanesVoz input[type="checkbox"], .portlet-layout .home-phone-new-portlet #divPasos .span6 .cajaPlanesInternet input[type="radio"], .portlet-layout .home-phone-new-portlet #divPasos .span6 .cajaPlanesInternet input[type="checkbox"], .portlet-layout .home-phone-new-portlet #divPasos .span6 .cajaPlanesTv input[type="radio"], .portlet-layout .home-phone-new-portlet #divPasos .span6 .cajaPlanesTv input[type="checkbox"], .portlet-layout .home-phone-new-portlet #divPasos .span6 .cajaPlanesTvHd input[type="radio"], .portlet-layout .home-phone-new-portlet #divPasos .span6 .cajaPlanesTvHd input[type="checkbox"] {
  visibility: hidden;
  position: absolute;
}
/* line 62, ../scss/block/_planes.scss */
.portlet-layout .home-phone-new-portlet #divPasos .span6 .cajaProducto.darkBox, .portlet-layout .home-phone-new-portlet #divPasos .span6 .cajaProducto_movVideo.darkBox, .portlet-layout .home-phone-new-portlet #divPasos .span6 .cajaPlanesVoz.darkBox, .portlet-layout .home-phone-new-portlet #divPasos .span6 .cajaPlanesInternet.darkBox, .portlet-layout .home-phone-new-portlet #divPasos .span6 .cajaPlanesTv.darkBox, .portlet-layout .home-phone-new-portlet #divPasos .span6 .cajaPlanesTvHd.darkBox {
  background: #cdedff;
  border: 1px solid #27a4d5;
}
/* line 66, ../scss/block/_planes.scss */
.portlet-layout .home-phone-new-portlet #divPasos .span6 .cajaProducto > div, .portlet-layout .home-phone-new-portlet #divPasos .span6 .cajaProducto_movVideo > div, .portlet-layout .home-phone-new-portlet #divPasos .span6 .cajaPlanesVoz > div, .portlet-layout .home-phone-new-portlet #divPasos .span6 .cajaPlanesInternet > div, .portlet-layout .home-phone-new-portlet #divPasos .span6 .cajaPlanesTv > div, .portlet-layout .home-phone-new-portlet #divPasos .span6 .cajaPlanesTvHd > div {
  font-family: "TelefonicaWeb-Regular", Arial, Helvetica, Geneva, sans-serif;
  font-weight: lighter;
  font-size: 12px;
  font-size: 1.2rem;
  text-align: center;
}
/* line 71, ../scss/block/_planes.scss */
.portlet-layout .home-phone-new-portlet #divPasos .span6 .cajaProducto > div:not([class]), .portlet-layout .home-phone-new-portlet #divPasos .span6 .cajaProducto_movVideo > div:not([class]), .portlet-layout .home-phone-new-portlet #divPasos .span6 .cajaPlanesVoz > div:not([class]), .portlet-layout .home-phone-new-portlet #divPasos .span6 .cajaPlanesInternet > div:not([class]), .portlet-layout .home-phone-new-portlet #divPasos .span6 .cajaPlanesTv > div:not([class]), .portlet-layout .home-phone-new-portlet #divPasos .span6 .cajaPlanesTvHd > div:not([class]) {
  float: left;
  margin-right: 10px;
}
/* line 76, ../scss/block/_planes.scss */
.portlet-layout .home-phone-new-portlet #divPasos .span6 .cajaProducto .homephoneFija, .portlet-layout .home-phone-new-portlet #divPasos .span6 .cajaProducto .homephoneInternet, .portlet-layout .home-phone-new-portlet #divPasos .span6 .cajaProducto .homephoneTv, .portlet-layout .home-phone-new-portlet #divPasos .span6 .cajaProducto_movVideo .homephoneFija, .portlet-layout .home-phone-new-portlet #divPasos .span6 .cajaProducto_movVideo .homephoneInternet, .portlet-layout .home-phone-new-portlet #divPasos .span6 .cajaProducto_movVideo .homephoneTv, .portlet-layout .home-phone-new-portlet #divPasos .span6 .cajaPlanesVoz .homephoneFija, .portlet-layout .home-phone-new-portlet #divPasos .span6 .cajaPlanesVoz .homephoneInternet, .portlet-layout .home-phone-new-portlet #divPasos .span6 .cajaPlanesVoz .homephoneTv, .portlet-layout .home-phone-new-portlet #divPasos .span6 .cajaPlanesInternet .homephoneFija, .portlet-layout .home-phone-new-portlet #divPasos .span6 .cajaPlanesInternet .homephoneInternet, .portlet-layout .home-phone-new-portlet #divPasos .span6 .cajaPlanesInternet .homephoneTv, .portlet-layout .home-phone-new-portlet #divPasos .span6 .cajaPlanesTv .homephoneFija, .portlet-layout .home-phone-new-portlet #divPasos .span6 .cajaPlanesTv .homephoneInternet, .portlet-layout .home-phone-new-portlet #divPasos .span6 .cajaPlanesTv .homephoneTv, .portlet-layout .home-phone-new-portlet #divPasos .span6 .cajaPlanesTvHd .homephoneFija, .portlet-layout .home-phone-new-portlet #divPasos .span6 .cajaPlanesTvHd .homephoneInternet, .portlet-layout .home-phone-new-portlet #divPasos .span6 .cajaPlanesTvHd .homephoneTv {
  margin-bottom: 5px;
}
/* line 78, ../scss/block/_planes.scss */
.portlet-layout .home-phone-new-portlet #divPasos .span6 .cajaProducto .homephoneFija:before, .portlet-layout .home-phone-new-portlet #divPasos .span6 .cajaProducto .homephoneInternet:before, .portlet-layout .home-phone-new-portlet #divPasos .span6 .cajaProducto .homephoneTv:before, .portlet-layout .home-phone-new-portlet #divPasos .span6 .cajaProducto_movVideo .homephoneFija:before, .portlet-layout .home-phone-new-portlet #divPasos .span6 .cajaProducto_movVideo .homephoneInternet:before, .portlet-layout .home-phone-new-portlet #divPasos .span6 .cajaProducto_movVideo .homephoneTv:before, .portlet-layout .home-phone-new-portlet #divPasos .span6 .cajaPlanesVoz .homephoneFija:before, .portlet-layout .home-phone-new-portlet #divPasos .span6 .cajaPlanesVoz .homephoneInternet:before, .portlet-layout .home-phone-new-portlet #divPasos .span6 .cajaPlanesVoz .homephoneTv:before, .portlet-layout .home-phone-new-portlet #divPasos .span6 .cajaPlanesInternet .homephoneFija:before, .portlet-layout .home-phone-new-portlet #divPasos .span6 .cajaPlanesInternet .homephoneInternet:before, .portlet-layout .home-phone-new-portlet #divPasos .span6 .cajaPlanesInternet .homephoneTv:before, .portlet-layout .home-phone-new-portlet #divPasos .span6 .cajaPlanesTv .homephoneFija:before, .portlet-layout .home-phone-new-portlet #divPasos .span6 .cajaPlanesTv .homephoneInternet:before, .portlet-layout .home-phone-new-portlet #divPasos .span6 .cajaPlanesTv .homephoneTv:before, .portlet-layout .home-phone-new-portlet #divPasos .span6 .cajaPlanesTvHd .homephoneFija:before, .portlet-layout .home-phone-new-portlet #divPasos .span6 .cajaPlanesTvHd .homephoneInternet:before, .portlet-layout .home-phone-new-portlet #divPasos .span6 .cajaPlanesTvHd .homephoneTv:before {
  content: "\e618";
  display: inline-block;
  color: #005a8c;
  font-family: "icomoon-2016";
  width: 21px;
  height: 21px;
  margin-right: 5px;
}
/* line 89, ../scss/block/_planes.scss */
.portlet-layout .home-phone-new-portlet #divPasos .span6 .cajaProducto .homephoneInternet:before, .portlet-layout .home-phone-new-portlet #divPasos .span6 .cajaProducto_movVideo .homephoneInternet:before, .portlet-layout .home-phone-new-portlet #divPasos .span6 .cajaPlanesVoz .homephoneInternet:before, .portlet-layout .home-phone-new-portlet #divPasos .span6 .cajaPlanesInternet .homephoneInternet:before, .portlet-layout .home-phone-new-portlet #divPasos .span6 .cajaPlanesTv .homephoneInternet:before, .portlet-layout .home-phone-new-portlet #divPasos .span6 .cajaPlanesTvHd .homephoneInternet:before {
  content: "\e616";
}
/* line 94, ../scss/block/_planes.scss */
.portlet-layout .home-phone-new-portlet #divPasos .span6 .cajaProducto .homephoneTv:before, .portlet-layout .home-phone-new-portlet #divPasos .span6 .cajaProducto_movVideo .homephoneTv:before, .portlet-layout .home-phone-new-portlet #divPasos .span6 .cajaPlanesVoz .homephoneTv:before, .portlet-layout .home-phone-new-portlet #divPasos .span6 .cajaPlanesInternet .homephoneTv:before, .portlet-layout .home-phone-new-portlet #divPasos .span6 .cajaPlanesTv .homephoneTv:before, .portlet-layout .home-phone-new-portlet #divPasos .span6 .cajaPlanesTvHd .homephoneTv:before {
  content: "\e619";
}
/* line 100, ../scss/block/_planes.scss */
.portlet-layout .home-phone-new-portlet #divPasos .span6 .cajaProducto_movVideo label {
  line-height: 100px;
  text-align: center;
}
/* line 103, ../scss/block/_planes.scss */
.portlet-layout .home-phone-new-portlet #divPasos .span6 .cajaProducto_movVideo label:before {
  content: "\e632";
  display: inline-block;
  color: #005a8c;
  font-family: "icomoon-2016";
  width: 21px;
  height: 21px;
  margin-right: 5px;
}
/* line 115, ../scss/block/_planes.scss */
.portlet-layout .home-phone-new-portlet #divPasos .icon-chevron-left, .portlet-layout .home-phone-new-portlet #divPasos .icon-chevron-right {
  display: none !important;
}
/* line 118, ../scss/block/_planes.scss */
.portlet-layout .home-phone-new-portlet #divPasos .buttonCustom {
  width: 100%;
  position: absolute;
  bottom: -25px;
}
@media only screen and (min-width: 1280px) {
  /* line 118, ../scss/block/_planes.scss */
  .portlet-layout .home-phone-new-portlet #divPasos .buttonCustom {
    bottom: auto;
    top: 50%;
  }
}
/* line 127, ../scss/block/_planes.scss */
.portlet-layout .home-phone-new-portlet #divPasos #botonSiguiente {
  background: url(../img/left_arrow.png) no-repeat;
  background-position: 100% 100%;
  color: #005a8c;
  font-family: "TelefonicaWeb-Regular", Arial, Helvetica, Geneva, sans-serif;
  font-weight: lighter;
  font-size: 13px;
  font-size: 1.3rem;
  height: 25px;
  padding: 0 20px 0 0;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  left: 0;
}
/* line 143, ../scss/block/_planes.scss */
.portlet-layout .home-phone-new-portlet #divPasos #botonAtras {
  background: url(../img/right_arrow.png) no-repeat;
  background-position: 0% 100%;
  color: #005a8c;
  font-family: "TelefonicaWeb-Regular", Arial, Helvetica, Geneva, sans-serif;
  font-weight: lighter;
  font-size: 13px;
  font-size: 1.3rem;
  height: 25px;
  padding: 0 0 0 20px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  float: left;
  right: 0;
}
/* line 160, ../scss/block/_planes.scss */
.portlet-layout .home-phone-new-portlet #divPasos #productos, .portlet-layout .home-phone-new-portlet #divPasos #planesVoz, .portlet-layout .home-phone-new-portlet #divPasos #planesInternet, .portlet-layout .home-phone-new-portlet #divPasos #planesTv, .portlet-layout .home-phone-new-portlet #divPasos #planesTvHd, .portlet-layout .home-phone-new-portlet #divPasos #planTVDeco {
  max-width: 610px;
  margin: 0 auto;
}
@media only screen and (min-width: 1280px) {
  /* line 160, ../scss/block/_planes.scss */
  .portlet-layout .home-phone-new-portlet #divPasos #productos, .portlet-layout .home-phone-new-portlet #divPasos #planesVoz, .portlet-layout .home-phone-new-portlet #divPasos #planesInternet, .portlet-layout .home-phone-new-portlet #divPasos #planesTv, .portlet-layout .home-phone-new-portlet #divPasos #planesTvHd, .portlet-layout .home-phone-new-portlet #divPasos #planTVDeco {
    margin-top: 100px;
    min-height: 530px;
  }
}
/* line 168, ../scss/block/_planes.scss */
.portlet-layout .home-phone-new-portlet #divPasos #productos span, .portlet-layout .home-phone-new-portlet #divPasos #planesVoz span, .portlet-layout .home-phone-new-portlet #divPasos #planesInternet span, .portlet-layout .home-phone-new-portlet #divPasos #planesTv span, .portlet-layout .home-phone-new-portlet #divPasos #planesTvHd span, .portlet-layout .home-phone-new-portlet #divPasos #planTVDeco span {
  margin-bottom: 10px;
  font-size: 13px;
  font-size: 1.3rem;
}
/* line 172, ../scss/block/_planes.scss */
.portlet-layout .home-phone-new-portlet #divPasos #productos p, .portlet-layout .home-phone-new-portlet #divPasos #planesVoz p, .portlet-layout .home-phone-new-portlet #divPasos #planesInternet p, .portlet-layout .home-phone-new-portlet #divPasos #planesTv p, .portlet-layout .home-phone-new-portlet #divPasos #planesTvHd p, .portlet-layout .home-phone-new-portlet #divPasos #planTVDeco p {
  font-size: 10px;
  font-size: 1rem;
}
@media only screen and (min-width: 1280px) {
  /* line 175, ../scss/block/_planes.scss */
  .portlet-layout .home-phone-new-portlet #divPasos #productos .span6, .portlet-layout .home-phone-new-portlet #divPasos #planesVoz .span6, .portlet-layout .home-phone-new-portlet #divPasos #planesInternet .span6, .portlet-layout .home-phone-new-portlet #divPasos #planesTv .span6, .portlet-layout .home-phone-new-portlet #divPasos #planesTvHd .span6, .portlet-layout .home-phone-new-portlet #divPasos #planTVDeco .span6 {
    margin: 15px;
  }
}
@media only screen and (max-width: 767px) {
  /* line 179, ../scss/block/_planes.scss */
  .portlet-layout .home-phone-new-portlet #divPasos #productos .span6 .cajaProducto, .portlet-layout .home-phone-new-portlet #divPasos #planesVoz .span6 .cajaProducto, .portlet-layout .home-phone-new-portlet #divPasos #planesInternet .span6 .cajaProducto, .portlet-layout .home-phone-new-portlet #divPasos #planesTv .span6 .cajaProducto, .portlet-layout .home-phone-new-portlet #divPasos #planesTvHd .span6 .cajaProducto, .portlet-layout .home-phone-new-portlet #divPasos #planTVDeco .span6 .cajaProducto {
    min-height: 150px;
  }
}
/* line 187, ../scss/block/_planes.scss */
.portlet-layout .home-phone-new-portlet #divPasos #productos .cajaPlanesVoz span:before, .portlet-layout .home-phone-new-portlet #divPasos #planesVoz .cajaPlanesVoz span:before, .portlet-layout .home-phone-new-portlet #divPasos #planesInternet .cajaPlanesVoz span:before, .portlet-layout .home-phone-new-portlet #divPasos #planesTv .cajaPlanesVoz span:before, .portlet-layout .home-phone-new-portlet #divPasos #planesTvHd .cajaPlanesVoz span:before, .portlet-layout .home-phone-new-portlet #divPasos #planTVDeco .cajaPlanesVoz span:before {
  content: "\e618";
  display: block;
  color: #005a8c;
  font-family: "icomoon-2016";
  font-size: 15px;
  font-size: 1.5rem;
  width: 21px;
  height: 21px;
  margin: 10px auto;
}
/* line 203, ../scss/block/_planes.scss */
.portlet-layout .home-phone-new-portlet #divPasos #productos .cajaPlanesInternet span:before, .portlet-layout .home-phone-new-portlet #divPasos #planesVoz .cajaPlanesInternet span:before, .portlet-layout .home-phone-new-portlet #divPasos #planesInternet .cajaPlanesInternet span:before, .portlet-layout .home-phone-new-portlet #divPasos #planesTv .cajaPlanesInternet span:before, .portlet-layout .home-phone-new-portlet #divPasos #planesTvHd .cajaPlanesInternet span:before, .portlet-layout .home-phone-new-portlet #divPasos #planTVDeco .cajaPlanesInternet span:before {
  content: "\e616";
  display: block;
  color: #005a8c;
  font-family: "icomoon-2016";
  font-size: 15px;
  font-size: 1.5rem;
  width: 21px;
  height: 21px;
  margin: 10px auto;
}
/* line 219, ../scss/block/_planes.scss */
.portlet-layout .home-phone-new-portlet #divPasos #productos .cajaPlanesTv span:before, .portlet-layout .home-phone-new-portlet #divPasos #productos .cajaPlanesTvHd span:before, .portlet-layout .home-phone-new-portlet #divPasos #planesVoz .cajaPlanesTv span:before, .portlet-layout .home-phone-new-portlet #divPasos #planesVoz .cajaPlanesTvHd span:before, .portlet-layout .home-phone-new-portlet #divPasos #planesInternet .cajaPlanesTv span:before, .portlet-layout .home-phone-new-portlet #divPasos #planesInternet .cajaPlanesTvHd span:before, .portlet-layout .home-phone-new-portlet #divPasos #planesTv .cajaPlanesTv span:before, .portlet-layout .home-phone-new-portlet #divPasos #planesTv .cajaPlanesTvHd span:before, .portlet-layout .home-phone-new-portlet #divPasos #planesTvHd .cajaPlanesTv span:before, .portlet-layout .home-phone-new-portlet #divPasos #planesTvHd .cajaPlanesTvHd span:before, .portlet-layout .home-phone-new-portlet #divPasos #planTVDeco .cajaPlanesTv span:before, .portlet-layout .home-phone-new-portlet #divPasos #planTVDeco .cajaPlanesTvHd span:before {
  content: "\e619";
  display: block;
  color: #005a8c;
  font-family: "icomoon-2016";
  font-size: 15px;
  font-size: 1.5rem;
  width: 21px;
  height: 21px;
  margin: 10px auto;
}

/* line 1, ../scss/block/_progreso.scss */
.miga {
  width: 100%;
  width: 114%;
  position: absolute;
  left: -25px;
}
@media only screen and (max-width: 767px) {
  /* line 1, ../scss/block/_progreso.scss */
  .miga {
    display: none;
  }
}
/* line 10, ../scss/block/_progreso.scss */
.miga ul {
  text-align: center;
  margin: 0;
  padding: 0;
  overflow: hidden;
}
/* line 17, ../scss/block/_progreso.scss */
.miga ul li {
  background: #d9eef7;
  color: #ffffff;
  display: block;
  font-size: 17px;
  font-size: 1.7rem;
  float: left;
  width: 15.3%;
  padding: 8px;
}
/* line 26, ../scss/block/_progreso.scss */
.miga ul li.active {
  background: #27a4d5;
}

/* line 34, ../scss/block/_progreso.scss */
.containerProgreso {
  border: 1px solid #005a8c;
  padding: 20px;
}
/* line 37, ../scss/block/_progreso.scss */
.containerProgreso ul {
  text-align: left;
}
/* line 39, ../scss/block/_progreso.scss */
.containerProgreso ul li {
  display: block;
}
@media only screen and (min-width: 1280px) {
  /* line 39, ../scss/block/_progreso.scss */
  .containerProgreso ul li {
    display: inline-block;
  }
}

/* line 1, ../scss/block/_resumen.scss */
#tabs {
  position: absolute;
  top: -25px;
  left: -25px;
  background: url(../img/cotizador-bg.jpg) no-repeat top right #f0f2f5;
  border: 1px solid #dddada;
  padding: 25px;
  min-height: 735px;
  width: 105%;
  overflow: hidden;
}
/* line 13, ../scss/block/_resumen.scss */
#tabs .ui-widget-header {
  background: transparent;
  border: 0;
  text-align: center;
}
/* line 18, ../scss/block/_resumen.scss */
#tabs .ui-widget-header li {
  width: 100%;
  background: transparent;
  border: 0;
  text-align: center;
}
/* line 23, ../scss/block/_resumen.scss */
#tabs .ui-widget-header li .ui-tabs-anchor {
  color: #27a4d5;
  font-family: "TelefonicaWeb-Thin", Arial, Helvetica, Geneva, sans-serif;
  font-size: 20px;
  font-size: 2rem;
  letter-spacing: -1px;
  line-height: 30px;
  margin-bottom: 60px;
  width: 100%;
  display: block;
  text-align: center;
}
/* line 34, ../scss/block/_resumen.scss */
#tabs .ui-widget-header li img {
  display: none;
}
/* line 39, ../scss/block/_resumen.scss */
#tabs .ui-widget-header .ui-state-disabled {
  display: none;
}
/* line 44, ../scss/block/_resumen.scss */
#tabs .ui-tabs-panel {
  width: 100%;
  max-width: 575px;
  margin: 0 auto;
}
/* line 50, ../scss/block/_resumen.scss */
#tabs .ui-tabs-panel .bloqueCarrito .linea {
  border-bottom: 1px solid #dddada;
  padding: 18px 0;
}
/* line 53, ../scss/block/_resumen.scss */
#tabs .ui-tabs-panel .bloqueCarrito .linea .descrip, #tabs .ui-tabs-panel .bloqueCarrito .linea .precioTotalParcial, #tabs .ui-tabs-panel .bloqueCarrito .linea span {
  width: 50%;
  display: inline-block;
  text-align: left;
  font-family: "TelefonicaWeb-Bold", Arial, Helvetica, Geneva, sans-serif;
  font-size: 15px;
  font-size: 1.5rem;
}
/* line 60, ../scss/block/_resumen.scss */
#tabs .ui-tabs-panel .bloqueCarrito .linea .precio, #tabs .ui-tabs-panel .bloqueCarrito .linea .precioTotal {
  width: 50%;
  display: inline-block;
  text-align: right;
}
/* line 67, ../scss/block/_resumen.scss */
#tabs .ui-tabs-panel .bloqueCarrito #botonEnviarSolicitud2, #tabs .ui-tabs-panel .bloqueCarrito #botonEnviarSolicitud1 {
  width: 100%;
  max-width: 260px;
  display: block;
  background: #67aa26;
  color: #ffffff;
  border: 1px solid #67aa26 !important;
}
/* line 76, ../scss/block/_resumen.scss */
#tabs .ui-tabs-panel .bloqueCarrito .btn {
  width: 100%;
  max-width: 260px;
  display: block;
  background: #ffffff;
  color: #515559;
  border: 1px solid #515559 !important;
  margin: 10px auto;
  height: 45px;
  font-family: "TelefonicaWeb-Thin", Arial, Helvetica, Geneva, sans-serif;
  font-size: 18px;
  font-size: 1.8rem;
}
/* line 93, ../scss/block/_resumen.scss */
#tabs .btn {
  width: 100%;
  max-width: 260px;
  display: block;
  background: #ffffff;
  color: #515559;
  border: 1px solid #515559 !important;
  margin: 10px auto;
  height: 45px;
  font-family: "TelefonicaWeb-Thin", Arial, Helvetica, Geneva, sans-serif;
  font-size: 18px;
  font-size: 1.8rem;
  float: none !important;
}

/* line 110, ../scss/block/_resumen.scss */
#ampliarCotizacionesModal.modal {
  width: 100%;
  max-width: 960px;
}
/* line 114, ../scss/block/_resumen.scss */
#ampliarCotizacionesModal div {
  width: 50%;
  display: inline-block;
  vertical-align: top;
}
/* line 119, ../scss/block/_resumen.scss */
#ampliarCotizacionesModal div div {
  width: 100%;
  display: block;
}
/* line 124, ../scss/block/_resumen.scss */
#ampliarCotizacionesModal div .bloqueCarrito, #ampliarCotizacionesModal div .previosPuedenVariar, #ampliarCotizacionesModal div .instalacionDecoGratis, #ampliarCotizacionesModal div .linea {
  width: 100%;
}
/* line 129, ../scss/block/_resumen.scss */
#ampliarCotizacionesModal div h3 + div {
  width: 100%;
}
